.grid_label {
	background-color: black;
	width: 100% !important;
	height: 100% !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid_label_title {
	font-size: 2rem !important;
}