.grid_item {
	font-size: 0.8rem;
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 10px;
}

.grid_identifier {
	background-color: transparent;
}

.grid_select {
	height: 100%;
	width: 100%;
	font-size: 4ch;
}

.grid_input {
	height: 100%;
	width: 100%;
	font-size: 4ch;
}

.grid_button {
	width: 100%;
	background-color: black;
	height: 70px;
	border-radius: 0;
	font-size: 1.5rem;
}

.grid_table_header {
	justify-content: flex-end;
}

.grid_row {
	font-size: 0.8rem;
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 10px;
	padding-block: 3px;
}

.grid_section {
	width: 100%;
}

.grid_label {
	background-color: black;
	width: 100% !important;
	height: 100% !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 0px;
}

.grid_checkbox {
}

.grid_section {
	padding-block: 5px;
}

.center_text {
	text-align: center;
}

.left_text {
	text-align: left;
}

.right_text {
	text-align: right;
}