.grid_item {
	font-size: 0.8rem;
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 10px;
}

.grid_identifier {
	background-color: transparent;
}

.grid_select {
	height: 100%;
	width: 100%;
	font-size: 4ch;
}

.grid_input {
	height: 100%;
	width: 100%;
	font-size: 4ch;
}

.grid_button {
	width: 100%;
	background-color: black;
	height: 70px;
	border-radius: 0;
	font-size: 1.5rem;
}

.grid_table_header {
	justify-content: flex-end;
}

.grid_row {
	font-size: 0.8rem;
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 10px;
}

.grid_section {
	width: 100%;
}

.grid_label {
	background-color: black;
	width: 100% !important;
	height: 100% !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.grid_label_title {
	font-size: 1.5rem !important;
}

.grid_label_subtitle {
	font-size: 0.75rem !important;
	text-align: center;
}

.grid_checkbox {
}